In [ ]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd
import numpy as np
data = np.array([4, 8, 15, 16, 23, 42])
ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int32

In [ ]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
import numpy as np

var = np.array([1,2,3,3,4,5,6,7,8,9,10])
data = pd.Series(var)
print(data)

0      1
1      2
2      3
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int32

In [ ]:
# Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female
Then, print the DataFrame.

In [6]:
data = {'Name': ['Alice','Bob','Claire'], 'Age': [25,30,27],'Gender':['Female','Male','Female']}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
Pandas Series: One-dimensional, Homogenous – Series elements must be of the same data type, Size-immutable – Once created, the size of a Series object cannot be changed.
Pandas DataFrame: Two-dimensional, Heterogenous – DataFrame elements can have different data types, Size-mutable – Elements can be dropped or added in an existing DataFrame.

In [7]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?

In [12]:
#Some common functions you can use to manipulate data in a Pandas DataFrame are head(),shape(),describe(),dropna(),merge().
data = {'Name': ['Alice','Bob','Claire'], 'Age': [25,30,27],'Gender':['Female','Male','Female']}
df = pd.DataFrame(data)
df.head()

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
DataFrame and Panel are mutable in nature.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [13]:
import pandas as pd
a = pd.Series(["MAN", "SUDHAN",
               "KRISH"])
b = pd.Series(["YAD", "NAI",
               "KUMA"])
df = pd.DataFrame(a.append(b,
                  ignore_index = True))
df

        0
0     MAN
1  SUDHAN
2   KRISH
3     YAD
4     NAI
5    KUMA